* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f7f2;
    color: #354238;
}

.container {
    width: 850px;
    margin: 35px auto;
}

header {
    background-color: #dcebd8;
    border: 1px solid #b5cdb0;
    text-align: center;
    padding: 28px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    font-size: 30px;
    color: #46634a;
    margin-bottom: 8px;
}

header p {
    font-size: 14px;
    color: #718072;
}

nav {
    background-color: #ffffff;
    border: 1px solid #b5cdb0;
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #46634a;
    margin: 0 18px;
    font-weight: bold;
}

nav a:hover {
    color: #789b79;
}

.content {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.left,
.right {
    background-color: #ffffff;
    border: 1px solid #b5cdb0;
    width: 170px;
    min-height: 320px;
    padding: 22px;
}

.left h3,
.right h3 {
    color: #46634a;
    margin-bottom: 20px;
    text-align: center;
}

.left a {
    display: block;
    text-decoration: none;
    color: #657568;
    padding: 10px;
    border-bottom: 1px solid #e2e9e1;
}

.left a:hover {
    color: #46634a;
}

main {
    background-color: #ffffff;
    border: 1px solid #b5cdb0;
    flex: 1;
    min-height: 320px;
    padding: 35px;
    text-align: center;
}

main h2 {
    color: #46634a;
    margin-bottom: 15px;
}

main p {
    line-height: 1.6;
    color: #667267;
}

.box {
    background-color: #f3f7f2;
    border: 1px solid #d2dfcf;
    margin-top: 25px;
    padding: 18px;
    border-radius: 8px;
}

.box h3 {
    color: #46634a;
    margin-bottom: 8px;
}

.right {
    text-align: center;
}

.right p {
    margin-bottom: 8px;
    font-size: 14px;
}

footer {
    background-color: #dcebd8;
    border: 1px solid #b5cdb0;
    text-align: center;
    padding: 18px;
    margin-top: 10px;
    color: #526653;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}